<div class="container" *ngIf="voting">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 col-xl-8 my-5">
      <div class="block">
        <h1 class="side-title text-center">{{voting.name}}</h1>
        <div class="mb-3 text-center">
          <span class="h4 mb-3">{{voting.question.desc}}</span>
        </div>
        <form *ngIf="voting.tipe !== 'Senate'">
          <div class="col-6 border border-secondary py-3 element list-group-item-info w-100 mx-auto"
            *ngFor="let o of voting.question.options">
            <input class="form-check-input" type="radio" name="option" [(ngModel)]="datos" value={{o.numb}} id={{o.numb}}>
            <div class="btn-group">
              <label for="{{o.numb}}" class="form-check-label">
                <span class="fa fa-check-circle-o fa-lg"></span>
                <span class="fa fa-circle-o fa-lg"></span>
                <span class="h6 content">{{o.numb}}. {{o.option}}</span>
              </label>
            </div>
          </div>
          <div class="col-6 mx-auto">
            <button class="btn btn-primary mt-3 w-100" (click)="onSubmit(datos, $event)">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Vote
            </button>
          </div>
        </form>
        <form *ngIf="voting.tipe === 'Senate'">
          <div class="text-center mb-2">
            <span>You must select between 1 and 2 options</span>
          </div>
          <div class="col-6 border border-secondary py-3 element list-group-item-info w-100 mx-auto"
            *ngFor="let o of voting.question.options">
            <input class="form-check-input" type="checkbox" name="{{o.option}}" [(ngModel)]="o.selected" value={{o.numb}} id={{o.numb}}>
            <div class="btn-group">
              <label for="{{o.numb}}" class="form-check-label">
                <span class="fa fa-check-circle-o fa-lg"></span>
                <span class="fa fa-circle-o fa-lg"></span>
                <span class="h6 content">{{o.numb}}. {{o.option}}</span>
              </label>
            </div>
          </div>
          <div class="col-6 mx-auto">
            <button class="btn btn-primary mt-3 w-100" (click)="onSubmitMultiple($event)">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Vote
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>