input[type="radio"],
input[type="checkbox"]{
	display: none;
}


input[type="radio"] + .btn-group > label span:first-child,
input[type="checkbox"] + .btn-group > label span:first-child {
	display: none;
}


input[type="radio"]:checked + .btn-group > label span:first-child,
input[type="checkbox"]:checked + .btn-group > label span:first-child{
	display: inline-block;
}

input[type="radio"]:checked + .btn-group > label span:first-child + span,
input[type="checkbox"]:checked + .btn-group > label span:first-child + span{
	display: none;
}

input[type="checkbox"] + .btn-group > label span[class*="fa-"],
input[type="radio"] + .btn-group > label span[class*="fa-"]{
	width: 15px;
	float: left;
	margin: 4px 0 2px -2px;
	color: #333;
}

input[type="checkbox"] + .btn-group > label span.content,
input[type="radio"] + .btn-group > label span.content{
	margin-left: 10px;
	color: #333;
}

.element:hover {
    background: #92d0da;
}

label{
	cursor: pointer;
}
