.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}


.btn-google, .btn-facebook, .btn-github, .btn-spotify {
    color: white;
}

.btn-spotify{
    background-color: #1DB954;
}

.btn-spotify:hover {
    background-color: #1d9949;
    border-color: rgba(0,0,0,0.2);
}