<ul class="list-unstyled">
  <li class="element list-group-item list-group-item-info">
    <a class="text-dark list-group-item-action" [routerLink]="[voting.id]">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{voting.name}}</h5>
        <div class="list-unstyled">
          <small>{{voting.startDate}}</small>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">{{voting.desc}}</h6>
        <div class="list-unstyled">
          <small>{{voting.tipe}}</small>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <div class="block" *ngIf="voting.politicalParty">
          <small>Political party: {{voting.politicalParty.name}}</small>
        </div>
        <div class="block" *ngIf="voting.province !=='' ">
          <small>Province: {{voting.province}}</small>
        </div>
      </div>
    </a>
  </li>
</ul>
