.block {
    padding: 30px 15px;
    margin-top: 40px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0; }

.block h1.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #333;
}
.block h1.side-title:after {
    content: '';
    width: 100px;
    height: 1px;
    background: #09014c;
    display: block;
    margin-top: 6px;
}