<main role="main">
  <div class="jumbotron">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1>Welcome to the Decide-Moltres Booth</h1>
        <p> In the booth you will be able to place your votes in your avaliable votings after you
          are logged in the system succesfully. </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card card-signin">
          <div class="card-body text-center">
            <h5 class="card-title">What is Decide?</h5>
            <p class="card-text">Decide is a secure electronic voting platform, which meets a number of
              basic
              guarantees, such as anonymity and privacy of voting and was made by Wadobo.</p>
            <a href="https://github.com/wadobo/decide" class="btn btn-primary">Decide project</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card card-signin">
          <div class="card-body text-center">
            <h5 class="card-title">What is Angular?</h5>
            <p class="card-text">Angular is an open source javascript framework, maintained by google, that
              is
              used to create and maintain single-page web applications.</p>
            <a href="https://angular.io/" class="btn btn-primary">Angular page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>