<main role="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

                <h1 class="text-center">Welcome to the Decide-Moltres Booth</h1>
                <p class="text-center"> In the booth you will be able to place your votes in your avaliable votings after you are logged in the system
                    succesfully. </p>
        </div>  
    </div>

  <div class="row text-center">
    <div class="col">
    <div class="card mx-auto w-75" >
      <div class="card-body">
        <h5 class="card-title">What is Decide?</h5>
        <p class="card-text text-center">Decide is a secure electronic voting platform, which meets a number of basic guarantees, such as anonymity and privacy of voting and was made by Wadobo.</p>
        <a href="https://github.com/wadobo/decide" class="btn btn-primary">Decide project</a>
      </div>
    </div>
    </div>

    <div class="col">
    <div class="card  mx-auto w-75" >
      <div class="card-body">
        <h5 class="card-title">What is Angular?</h5>
        <p class="card-text text-center">Angular is an open source javascript framework, maintained by google, that is used to create and maintain single-page web applications.</p>
        <a href="https://angular.io/" class="btn btn-primary">Angular page</a>
      </div>
    </div>
    </div>
  </div>

</main>




