<main role="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

                <h1>Decide-Moltres Booth</h1>
                <p> In the booth you will be able to place your votes in your avaliable votings after you are logged in the system
                    succesfully. </p>
        </div>  
    </div>

    <div class="row text-center">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">What is Decide?</h4>
              <p class="card-text">Decide is a secure electronic voting platform, which meets a number of basic guarantees, such as anonymity and privacy of voting.</p>
            </div>
          </div>
        </div>
    </div>

</main>




